# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/
*.env

# Distribution / build artifacts
.eggs/
*.egg-info/
dist/
build/

# Streamlit secrets (if you use them later)
.streamlit/secrets.toml